* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
}

.BarraContatos {
    width: 20%;
    background-color: #075E54;
}

.conversa {
    width: 80%;
    background-color: #faf0e6;
    position: relative; 
    display: flex;
    flex-direction: column;
 
}
#DigitarPesquisa{
    width: 80%;
    padding: 10px;
    margin-left: 7%;
    margin-top: 10%;
    border-radius: 8px;
}

.enviar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 10%;
    background-color: rgba(211, 211, 211, 0.568);
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 10px;
}

.icon {
    height: 24px;
    cursor: pointer;
}

.DigiteMensagem {
    flex: 1;
    background-color: white;
    border-radius: 20px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
}

.DigiteMensagem input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
}

